*{
    padding: 0px;
    margin: 0px;
}
/* Hide scrollbar for IE, Edge and Firefox */

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: aliceblue;   
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}



.navbar{
    background-color: rgb(194, 173, 213);
}

.navbar-brand{
    font-family: cursive;
    font-size: 25px;
    text-shadow: 4px 4px 5px white;
}
.cont{
    margin: 15px;   
}
.heading{
    padding: 10px 10px 10px 10px;
    /*padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;*/
    text-align: center;
    
    border-radius: 5px;
    background-color: rgb(249, 229, 232);
    word-break: break-word;
}

.heading:hover{
    box-shadow: 2px 2px 10px rgb(232, 164, 174);
}

.card{
    color: black;
    /*border-radius: 12px;  */
    
    margin: 10px;
    /*transform-style: preserve-3d;
    transition: transform 1500ms ease;*/
}

.card:hover{
        box-shadow: 2px 2px 10px blueviolet; /*shadow with 2 left right 10blur clr grey*/
        /*transform: rotateY(180deg);*/
        
        cursor: pointer;
}

/*.is-flipped{
    box-shadow: 2px 2px 10px green; /*shadow with 2 left right 10blur clr grey */        
    /*border-radius: 12px;    
    margin: 10px;
    transition: transform 1500ms ease;
    cursor: pointer;
    transform: rotateY(180deg);
}*/



nav .navbar .bg-light{
    background-color: blueviolet;
}

.front{
    backface-visibility: hidden;
    background-color: white;
   
}

.back{
    backface-visibility: hidden;
    background-color: rgb(249, 229, 232);
    transform: rotateY(180deg);
}
img .card-img-top{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
 .card-title{
   text-align: center;
   color:blueviolet;
   
}

a:hover{
    text-decoration: none;
}

.card-text{
    text-align: center;
    padding: 10px;
}

.btn{
    color: blueviolet;
    align-items: center;
    
    border-radius: 25;
    border-color: blueviolet;
}

 .nav-link:hover{
    color: white !important;
    text-shadow: 4px 4px 10px rgb(74, 7, 137);
}

.container{
    width : 70%;
    background: rgb(66, 64, 64);
    padding: 20px 30px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*@media (min-width: 600px) {
    .container{
        width: 600px;
    */

.container .post{
    display: none;
}

.container .text{
    font-size: 20px;
    color: #fd4;
    font-weight: 500;
}

.container .star-widget input{
    display: none;
}

.star-widget label{
    font-size: 20px;
    color: white;
    padding: 10px;
   float: right;
    transition: all 0.2 ease;

}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}

input:checked ~ label{
    color: #fd4;
}


input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
    content: "I hate it.";
}
#rate-2:checked ~ form header:before{
    content: "I don't like it.";
}
#rate-3:checked ~ form header:before{
    content: "I like it !";
}
#rate-4:checked ~ form header:before{
    content: "I love it !!";
}
#rate-5:checked ~ form header:before{
    content: "It is awesome !!!";
}

.container form{
    display: none;
}
input:checked ~ form {
    display: block;
}


form header{
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #fe7;
    font-weight: 500;
    transition: all 0.2 ease;  
}


form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden ;
}

.comment{
    color: white;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    outline: none;
    padding: 10px;
   resize: none;
   border: 1px solid #333;
   background: beige;
   font-size: 17px;
}
.btn1 button{
    border-radius: 5px;
    width: 60px;
   height: 35px;
   margin: 15px 0;
   outline: none;
   border: 1px solid #444;
   background: black;
   color: white;
   transition: all 0.3 ease; 
}




.btn1 button:hover{
    background-color: #fd4;
    border-radius: 5px;
    color: black;
    font-weight: 600;
} 