*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}
.navbar{
    background-color: rgb(194, 173, 213);
}

.navbar-brand{
    font-family: cursive;
    font-size: 25px;
}
.cont{
    margin: 15px;   
}
.heading{
    padding: 10px 10px 10px 10px;
    /*padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;*/
    text-align: center;
    
    border-radius: 5px;
    background-color: rgb(249, 229, 232);
    word-break: break-word;
}

.heading:hover{
    box-shadow: 2px 2px 10px rgb(232, 164, 174);
}

.card{
    color: black;
    /*border-radius: 12px;  */
    
    margin: 10px;
    /*transform-style: preserve-3d;
    transition: transform 1500ms ease;*/
}

.card:hover{
        box-shadow: 2px 2px 10px blueviolet; /*shadow with 2 left right 10blur clr grey*/
        /*transform: rotateY(180deg);*/
        
        cursor: pointer;
}

/*.is-flipped{
    box-shadow: 2px 2px 10px green; /*shadow with 2 left right 10blur clr grey */        
    /*border-radius: 12px;    
    margin: 10px;
    transition: transform 1500ms ease;
    cursor: pointer;
}*/



nav .navbar .bg-light{
    background-color: blueviolet;
}

.front{
    backface-visibility: hidden;
    background-color: white;
   
}

.back{
    backface-visibility: hidden;
    background-color: rgb(249, 229, 232);
    transform: rotateY(180deg);
}
img .card-img-top{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
 .card-title{
   text-align: center;
}

.card-text{
    text-align: center;
    padding: 10px;
}

.btn{
    color: blueviolet;
    align-items: center;
    
    border-radius: 25;
    border-color: blueviolet;
}

 .active{
    color: white !important;
    text-shadow: 4px 4px 10px rgb(74, 7, 137);
}